
<div [ngClass]="{'controls-group': true, 'controls-group-single-line': displayMode == DisplayMode.SingleLine, 'controls-group-multi-line': displayMode == DisplayMode.MultiLine}">
   <qinput-type-select class="select-area"></qinput-type-select>
   <qinput-input-field class="input-area" (onOpenTermOpts)="onOpenTermOpts.emit()"></qinput-input-field>
   <qinput-opts-buttons class="buttons-area" (onOpenGlobOpts)="onOpenGlobOpts.emit()" (onOpenFilters)="onOpenFilters.emit()"></qinput-opts-buttons>
</div>
