
.controls-group {
   width: 100%;
   display: grid;
   grid-gap: 0.5rem;
   justify-items: stretch;
   justify-content: center;
}

.controls-group-single-line {
   grid-template-columns: 20% 50% 20%;
   grid-template-areas: "select input buttons";
}

.controls-group-multi-line {
   grid-template-rows: auto;
   grid-template-columns: 40% 40%;
   grid-template-areas:
      "select buttons"
      "input input";
}

.select-area {
   grid-area: select;
}

.input-area {
   grid-area: input;
}

.buttons-area {
   grid-area: buttons;
   align-self: center;
   justify-self: left;
}