
.controls-group {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
}

.controls-group-row {
   flex-direction: row;
}

.controls-group-col {
   flex-direction: column;
}

.select-single-line {
   width: 20%;
}

.input-single-line {
   width: 60%;
}