
.data-msg {
   font-family: Scheherazade;
   text-align: center;
   font-size: 1.5rem;
   /* color: #999; */
}

.root-card {
   margin: 0.5rem;
   width: calc(100% - 1rem);
}

.root-word {
   font-family: Scheherazade;
   font-size: 1.2rem;
   line-height: 2rem;
   text-decoration: underline;
   cursor: pointer;
}
