<div id="quran-search-grp" class="tab-pane fade">
   <qsearch-controls></qsearch-controls>
   <div *ngIf="qService.disp_matches.length() == 0" class="data-msg">
      أدخل كلمات آية ما لتظهر نتائج.
   </div>
   <div *ngIf="qService.disp_matches.length() > 0" class="data-msg">
      عدد الآيات: {{qService.all_matches.length()}}
      عدد المرات: {{qService.all_matches.num_occurances()}}
   </div>
   <div class="search-results">
      <qsearch-result *ngFor="let r of qService.disp_matches.results" [(result)]="r"></qsearch-result>
   </div>
   <div *ngIf="can_show_more()">
      <button class="btn" class="more-btn" (click)="onMoreClicked()">
         للمزيد …
      </button>
   </div>
</div>

<!--
<div id="tip">
   <p></p>
</div>
<div id="copy-text"></div>
-->