
<fieldset class="opts">
   <legend class="opts-title">
      <mat-icon class="opts-title-item">settings</mat-icon>
      <span class="opts-title-item">إعدادات الكلمة الحالية</span>
   </legend>
   <div class="opts-group">
      <mat-form-field *ngIf="qService.searchCriteriaPres.cur_filter.show_ayah_order" hintLabel="مطابقة و ترتيب الكلمات">
         <select matNativeControl [(ngModel)]="qService.searchCriteriaPres.cur_filter.cur_ayah_order" (change)="onMatchTypeChanged()">
            <ng-container *ngFor="let opt of opts_ayah_order()">
               <option [value]="opt.opt" *ngIf="qService.searchCriteriaPres.cur_filter.show_ayah_order_option(opt.opt)">
                  {{opt.text}}
               </option>
            </ng-container>
         </select>
      </mat-form-field>

      <mat-form-field *ngIf="qService.searchCriteriaPres.cur_filter.show_ayah_loc" hintLabel="موقعها في الآية">
         <select matNativeControl [(ngModel)]="qService.searchCriteriaPres.cur_filter.cur_ayah_loc" (change)="onWordOrderChanged()">
            <ng-container *ngFor="let opt of opts_ayah_loc()">
               <option [value]="opt.opt" *ngIf="qService.searchCriteriaPres.cur_filter.show_ayah_loc_option(opt.opt)">
                  {{opt.text}}
               </option>
            </ng-container>
         </select>
      </mat-form-field>

      <ng-container *ngIf="show_native; then NativePOS; else NotNativePOS"></ng-container>
      <ng-container *ngIf="show_native; then NativeVF; else NotNativeVF"></ng-container>

   </div>
</fieldset>
         
<ng-template #NativePOS>
   <mat-form-field *ngIf="qService.searchCriteriaPres.cur_filter.show_part_of_speech" hintLabel="جزء من الكلام">
      <select matNativeControl [formControl]="pos" multiple>
         <option value="any" selected>أي جزء</option>
         <optgroup *ngFor="let g of qService.quran.word_store.part_of_speech_groups" [label]="g.ar">
            <option *ngFor="let p of g.parts" [value]="p.sym">
               {{p.ar}}
            </option>
         </optgroup>
      </select>
   </mat-form-field>
</ng-template>

<ng-template #NotNativePOS>
   <mat-form-field *ngIf="qService.searchCriteriaPres.cur_filter.show_part_of_speech" hintLabel="جزء من الكلام">
      <mat-select [formControl]="pos" multiple>
         <mat-option value="any" selected>أي جزء</mat-option>
         <mat-optgroup *ngFor="let g of qService.quran.word_store.part_of_speech_groups" [label]="g.ar">
            <mat-option *ngFor="let p of g.parts" [value]="p.sym">
               {{p.ar}}
            </mat-option>
         </mat-optgroup>
      </mat-select>
   </mat-form-field>
</ng-template>

<ng-template #NativeVF>
   <mat-form-field *ngIf="qService.searchCriteriaPres.cur_filter.show_verb_forms" hintLabel="شكل الفعل">
      <select matNativeControl [formControl]="vf" multiple>
         <option value="any" selected>أي شكل</option>
         <option *ngFor="let vf of qService.quran.word_store.verb_forms" [value]="vf.id">
            {{vf.form}}
         </option>
      </select>
   </mat-form-field>
</ng-template>
<ng-template #NotNativeVF>
   <mat-form-field *ngIf="qService.searchCriteriaPres.cur_filter.show_verb_forms" hintLabel="شكل الفعل">
      <mat-select [formControl]="vf" multiple>
         <mat-option value="any" selected>أي شكل</mat-option>
         <mat-option *ngFor="let vf of qService.quran.word_store.verb_forms" [value]="vf.id">
            {{vf.form}}
         </mat-option>
      </mat-select>
   </mat-form-field>
</ng-template>
