
<mat-card class="controls" *ngIf="show_toolbar">
   <qsearch-input (onOpenSettings)="onOpenSettingsClicked()" (onOpenFilters)="onOpenFiltersClicked()"></qsearch-input>

   <qterm-settings *ngIf="show_extra_opts && qService.searchCriteriaPres.cur_filter.show_settings()"></qterm-settings>
   
   <qfilters-list *ngIf="show_filter_list && qService.searchCriteriaPres.filters.length > 0"></qfilters-list>

   <qsearch-settings *ngIf="show_filter_list"></qsearch-settings>
</mat-card>

<div *ngIf="qService.isOpPending">
   <mat-progress-bar class="loading-spinner" mode="indeterminate"></mat-progress-bar>
</div>

<button mat-icon-button mat-raised-button class="scroll-up-btn" (click)="onScrollUpwardsClicked()" *ngIf="show_up_arrow">
   <mat-icon>arrow_upward</mat-icon>
</button>
