.mat-card {
   padding: 7px;
}

.mat-standard-chip .mat-chip-remove, .mat-standard-chip .mat-chip-trailing-icon {
   margin-right: 8px;
   margin-left: 0px;
}
.mat-standard-chip.mat-chip-with-trailing-icon {
   padding-left: 8px;
   padding-right: 12px;
}

.controls {
   z-index: 999;
   transition: top 0.3s;
}

.controls-row {
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
}

.scroll-up-btn {
   position: absolute;
   z-index: 999;
   margin-top: 0.1rem;
   margin-right: 0.1rem;
}
