/* You can add global styles to this file, and also import other style files */

@font-face {
   font-family: Scheherazade;
   font-style: normal;
   font-display: block;
   font-weight: 400;
   src: url(https://deendev.com/fonts/scheh.woff2) format('woff2'),
        url(https://deendev.com/fonts/scheh.woff) format('woff');
 }
 @font-face {
   font-family: Scheherazade;
   font-style: normal;
   font-display: block;
   font-weight: 700;
   src: url(https://deendev.com/fonts/scheh-b.woff2) format('woff2'),
        url(https://deendev.com/fonts/scheh-b.woff) format('woff');
 }
 /* General */
 html { font-size: 22px; }
 @media (max-width: 768px) { html {font-size: 19px;} }
 @media (max-width: 576px) { html {font-size: 17px;} html.safari {font-size: 18px;} }
 body {
   font-family: Scheherazade;
   font-size: 1rem;
   direction: rtl;
   max-width: 750px;
   margin: 0 auto;
   padding: 0.8rem 0.3rem;
 }
 input {
   font-family: inherit;
 }
 
 #quran-search {
   padding: 5px 12px 0;
   line-height: 1.9;
   max-width: 350px;
   margin: 0 auto;
   font-size: 1.3rem;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
   transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
 }
 #quran-results {
   font-size: 1.3rem;
   list-style-type: none;
   margin: 0;
   padding: 0.5rem 0.9rem;
   min-height: 6rem;
 }
 #quran-results li {
   padding: 5.5px 5px;
   min-height: 75px;
 }
 #quran-results li:not(:first-child) {
   border-top: solid 1px #f5f5f5;
 }
 #quran-results li strong {
   color: hsla(0, 85%, 50%, 1);
 }
 
 .ayah-ref {
   float: left;
   padding-right: 5px;
   padding-bottom: 1px;
   color: #888;
   font-size: 1rem;
 }
 
 #quran-more-results {
   display: block;
   width: 100%;
   box-shadow: 0px 0px 6px 0 #999;
   border-radius: 15px;
   background: transparent;
   font-size: 1.1rem;
 }
 
 #quran-search-row {
   text-align: center;
 }
 
 #enter-data-msg {
   text-align: center;
   font-size: 2.5rem;
   color: #999;
 }