/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
   font-family: Scheherazade;
   font-style: normal;
   font-display: block;
   font-weight: 400;
   src: url(https://deendev.com/fonts/scheh.woff2) format('woff2'),
   url(https://deendev.com/fonts/scheh.woff) format('woff');
}
@font-face {
   font-family: Scheherazade;
   font-style: normal;
   font-display: block;
   font-weight: 700;
   src: url(https://deendev.com/fonts/scheh-b.woff2) format('woff2'),
   url(https://deendev.com/fonts/scheh-b.woff) format('woff');
}

/* General */
html {
   font-size: 22px; 
}

@media (max-width: 768px) {
   html {
      font-size: 19px;
   }
}

@media (max-width: 576px) {
   html {
      font-size: 17px;
   } 
   html.safari {
      font-size: 18px;
   }
}

body {
   direction: rtl;
   margin: 0 auto;
}
